/* ---------------------------------------------------------------------
Original Author: Micah Darling
Contributors: N/A

Target Browsers: All
Media Type: Screen, Projection
Width: Min-Width 680px
------------------------------------------------------------------------ */

/* ---------------------------------------------------------------------
 Layout Styles
------------------------------------------------------------------------ */

.wrapper {
    padding: 0 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.wrapper > .grid-group {
    border-bottom: 2px solid #cecece;   /* For example purposes ONLY. */
}

.wrapper > .grid-group:last-child {
    border-bottom: none;   /* For example purposes ONLY. */
}

.grid {    
    padding: 10px;
    margin-bottom: 0;
}

.grid-group .grid-group { 
    margin: 0 -10px; 
}

.grid:last-child {    
    float: right;
}

/* --------- Grid Sizes --------- */

.size1of1 { width: 100% }
.size1of2 { width: 50% }
.size1of3 { width: 33.333333% }
.size2of3 { width: 66.666666% }
.size1of4 { width: 25% }
.size3of4 { width: 75% }
.size1of5 { width: 20% }
.size2of5 { width: 40% }
.size3of5 { width: 60% }
.size4of5 { width: 80% }
.size1of6 { width: 16.666667% }
.size5of6 { width: 83.333333% }
.size1of7 { width: 14.285714% }

/* --------- Pull --------- */

.pull1of2 { left: -50% }
.pull1of3 { left: -33.333333% }
.pull2of3 { left: -66.666666% }
.pull1of4 { left: -25% }
.pull3of4 { left: -75% }
.pull1of5 { left: -20% }
.pull2of5 { left: -40% }
.pull3of5 { left: -60% }
.pull4of5 { left: -80% }
.pull1of6 { left: -16.666667% }
.pull5of6 { left: -83.333333% }
.pull1of7 { left: -14.285714% }

/* --------- Push --------- */

.push1of2 { left: 50% }
.push1of3 { left: 33.333333% }
.push2of3 { left: 66.666666% }
.push1of4 { left: 25% }
.push3of4 { left: 75% }
.push1of5 { left: 20% }
.push2of5 { left: 40% }
.push3of5 { left: 60% }
.push4of5 { left: 80% }
.push1of6 { left: 16.666667% }
.push5of6 { left: 83.333333% }
.push1of7 { left: 14.285714% }

/* --------- Blocks --------- */

.blocks-three-up > li { width: 33.333333%; }
.blocks-four-up > li { width: 25%; }
.blocks-five-up > li { width: 20%; }
.blocks-six-up > li { width: 16.666667%; }

/* ---------------------------------------------------------------------
 Container Styles
------------------------------------------------------------------------ */

.header {
    padding: 20px 0;
}